<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img *ngIf="imageUrl !== null" src="{{imageUrl}}" class="d-block mx-lg-auto img-fluid" alt="Uploaded image" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">#1 Upload</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum recusandae aliquid suscipit iusto. Enim autem ratione placeat earum asperiores architecto facilis corrupti voluptatibus, beatae aspernatur omnis consequatur impedit rem sint.</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <div>
                    <input class="form-control rounded-0" type="file" id="formFile" (change)="onFileSelected($event)">
                </div>
                <button *ngIf="selectedFile === null" type="button" class="btn btn-danger btn-md px-4 me-md-2 rounded-0 disabled">Recognize</button>
                <button *ngIf="selectedFile !== null" type="button" class="btn btn-danger btn-md px-4 me-md-2 rounded-0" (click)="onFileSubmit()">Recognize</button>
            </div>
        </div>
    </div>
</div>

<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div *ngFor="let result of resultsList" class="col">
                <div class="card shadow-sm">
                    <video autoplay loop [muted]="'muted'">
                        <source src={{result.video}} type="video/mp4">
                        Your browser does not support the video tag.
                    </video>

                    <div class="card-body">
                        <p class="card-text">{{result.anilist.title.english}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary rounded-0 disabled">From {{result.from}}</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary rounded-0 disabled">To {{result.to}}</button>
                            </div>
                            <small class="text-muted">{{convertSimilarity(result.similarity)}}%</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>